.header_section{
   padding: 6rem 0;
}
.header_section{margin-top: 5rem;}
.header_row{
   align-items: center;
   justify-content: space-between;
}
.hero_text{
   font-family: 'Roboto', sans-serif;
   width: 70%;
   color: var(--blue-color);
}
#hero_subtitle{
   font-size: 17px;
   text-transform: capitalize;
   font-weight: 400;
}
.hero_text h1{
   font-size: 46px;
   line-height: 56px;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 10px;
   margin-top: 0;
}
.hero_text p{
   font-size: 14px;
   line-height: 27px;
   font-weight: 400;
}
.header_section img{
   width: 50%;
   height: 650px;
   display: none;
}
.header_btns{
   display: flex;
}
#head_project_btn{text-decoration: none;}
.header_socials {margin: 38px 0 0 20px}
.header_socials a{text-decoration: none; color: var(--blue-color);}
.header_socials div {
   position: relative;
}
.header_socials div span{
   position: absolute;
   background-color: var(--blue-color);
   color: #fff;
   padding: 1rem;
   border-radius: 10px;
   font-size: 11px;
   z-index: 2;
   top: -54px;
   left: 10px;
   transition: all 1s;
}
.header_socials div span:after{
   content: "";
   background-color: var(--blue-color);
   height: 10px;
   width: 10px;
   position: absolute;
   display: block;
   bottom: -4px;
   rotate: -45deg;
   z-index: 4;
}
.whatsapp{   
   width: 80px;
}
.header_socials i{
   padding: 10px;
   font-size: 17px;
   border-radius: 100%;
   border: 1px solid var(--blue-color);
   margin-left: 10px;
   cursor: pointer;
}
.header_socials .lni-envelope:hover + .header_email{
 display: block;
}
@media(min-width:992px){
   .header_section{margin-top: 0;}
   .header_section img{display: block;}
   .hero_text{width: 45%;}
}

@media(max-width:425px){.header_socials i{display: none;}}