.skills_section{
    padding: var(--section-padding);
    color: var(--blue-color);
}

.skills_section .section_header p{margin-bottom: 2rem;}

.skills_details_text{
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-top: 1px;
    padding-left: 16px;
}
.skills_details_text h6{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
}
.skills_details_text h6 p{
    font-size: 12px;
    position: absolute;
    left: -20px;
    font-weight: 300;
    top: -10px;
}
.skills_details_text span{
    font-size: 13px;
    display: block;
    position: relative;
    line-height: 25px;
    padding-left: 10px;
    font-weight: 500;
    margin-left: 10px;
}
.skills_details_text span:before{
    content: "";
    padding: 2px;
    top: 10px;
    left: -10px;
    position: absolute;
    background-color: var(--blue-color);
    border-radius: 100%;
}
.skills_description{
    overflow: hidden;
    transition:all 0.001ms;
}
